{% extends 'partials/base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-10">
            <div class="d-flex justify-content-between align-items-center">
                <h4 class="mb-0">My Contact</h4>
                <form hx-post="{% url 'contact:create-contact' %}" hx-target="#contact-list" method="POST" class="d-flex align-items-center">
                    {% csrf_token %}
                    <div class="input-group me-2">
                        <label for="name" class="input-group-text">Nom</label>
                        <input type="text" id="name" name="name" class="form-control" placeholder="Enter Name" hx-post="/check-name" hx-target="#name-exist" />
                    </div>
                    <div class="input-group me-2">
                        <label for="phone" class="input-group-text">Phone</label>
                        <input type="text" id="phone" name="phone" class="form-control" placeholder="Enter Phone Number" />
                    </div>
                    <button type="submit" class="btn btn-success btn-sm">Save</button>
                </form>
            </div>
            <hr>
            <div id="contact-list">
                {% include 'contact/contact-list.html' %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
