{% if contacts %}
    {% csrf_token %}
    <div class="col-4">
        <ul class="list-group">
            {% for contact in contacts %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span>{{ contact.name }}: {{ contact.phone }}</span>
                    <span class="badge bg-danger rounded-pill"
                          style="cursor: pointer;"
                          hx-delete="{% url 'contact:delete-contact' contact.pk %}"
                          hx-target="#contact-list"
                          hx-confirm="Are you sure you wish to delete?">
                        X
                    </span>
                </li>
            {% endfor %}
        </ul>
    </div>
{% else %}
    <p class="text-center">No Contact</p>
{% endif %}
